* {
    font-family:Verdana;
    margin: 0%;
    color: #4A4E66;
}
header 
{
    background-color: #4a235a;
    margin: 0;  
    padding: 2vh 20vw 1vh;
}
header p {color: white;}
header h1 {color: white;}
section
{
    margin: 2vh 20vw 1vh;
    padding: 2%;
    background-color: #f4e7f8;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: solid 3px #837575;
    border-radius: 25px;
}
div.name
{
    margin-bottom: 2vh;
}
div.name h2
{
    color: #4a235a;
}
form
{
    display: flex;
    flex-direction: column;
}
form input 
{
    margin-bottom: 10px;
}
